@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Light */
@font-face {
  font-family: "NeueMachina-Light";
  src: url("/src/assets/fonts/NeueMachina-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Font Regular */
@font-face {
  font-family: "NeueMachina-Regular";
  src: url("/src/assets/fonts/NeueMachina-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Font Bold */
@font-face {
  font-family: "NeueCorp-Bold";
  src: url("/src/assets/fonts/PPNeueCorp-NormalUltrabold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NeueMachina-Bold";
  src: url("/src/assets/fonts/NeueMachina-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Font Regular */
@font-face {
  font-family: "NeueCorp-Normal";
  src: url("/src/assets/fonts/PPNeueCorp-NormalMedium.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueCorp-Thin";
  src: url("/src/assets/fonts/PPNeueCorp-NormalUltralight.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
}

.btn-five::before {
  transition: transform 0.15s, 0.15s border-radius 0.15s;
  opacity: 0;
  background: rgba(255, 255, 255, 0.1);
  transform: scale(0.1, 0.1);
  border-radius: 50%;
}

.btn-five:hover::before {
  opacity: 1;
  transform: scale(1, 1);
  border-radius: 0;
}

.btn-five::after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.btn-five:hover::after {
  opacity: 0;
}

html,
body {
  font-family: var(--font-neue-machina-regular);
  background-color: #1e1e1e;
  cursor: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --font-neue-machina: "NeueMachina-Light", sans-serif;
  --font-neue-machina-regular: "NeueMachina-Regular", sans-serif;
  --font-neue-machina-bold: "NeueMachina-Bold", sans-serif;
  --font-neue-corp-bold: "NeueCorp-Bold", sans-serif;
  --font-neue-corp-normal: "NeueCorp-Normal", sans-serif;
  --font-neue-corp-thin: "NeueCorp-Thin", sans-serif;
}
